.body {
  display: grid;
  min-height: calc(100vh - 50px);

  grid-template-columns: 164px 1fr 324px;
}

.main {
  color: var(--black-700);
}

.container {
  max-width: 1264px;
  margin: 0 auto;
  padding-top: 50px;
}
